nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    padding: 0;
}
li {
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  display: flex; 
  padding: 5px;
 
}
p{
    text-align: center; 
    background-color: gray;
    margin-left: 20px; 
    border-radius: 50%;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
   
}
h2{
  text-align: center;
   padding-left: 120px;
}

  
  
  